<div class="tabla">
    <table class="table table-dark">
        <thead>
            <tr style="letter-spacing: 1px">

                <th scope="col"><img src="https://cdn.icon-icons.com/icons2/1328/PNG/128/darthvader_87105.png" alt="" style="width:35px;"></th>
                <th scope="col">Nombre</th>
                <th scope="col">Género</th>
                <th scope="col">Altura</th>
                <th scope="col">Peso</th>
                <th scope="col">Color de ojos</th>
                <th scope="col">Guardar</th>
            </tr>
        </thead>
        <tbody class="personajesTable">
        </tbody>
    </table>
    <div style="text-align: center">
        <button type="button" id="1" class="btn btn-primary botonVer">ver más</button>
    </div>
</div>